/* Custom additional CSS for atoft.dev */
/* Shared across all pages. */

html 
{
    background-attachment: fixed;
}

body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main
{
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6
{
    color: #00acc1;
}


/*Force overwrite color of link text on cards*/
.card-action a
{
    color:#00bcd4 !important;
}

#sidenav-overlay
{
    z-index: 1;
}

.addymotion-table-of-contents a.active
{
    border-bottom: 5px solid;
    height:64px;
    font-weight:bold;
}

.addymotion-title
{
    font-family:"Roboto Condensed";
}

@media only screen and (max-width : 992px) 
{
    .parallax-container .section 
    {
        position: absolute;
        top: 40%;
    }

    #index-banner .section 
    {
        top: 10%;
    }

    #main-avatar .img 
    {
        width:150px;
        height:150px;
    }
}

@media only screen and (max-width : 600px) 
{
    #index-banner .section
    {
        top: 0;
    }

    #blog
    {
        height:600px;
    }
}

.icon-block
{
    padding: 0 15px;
}

.icon-block .material-icons
{
    font-size: inherit;
}

footer.page-footer 
{
    margin: 0;
}

/* Custom navbar and home page header */
h1
{
    font-family:"Roboto Condensed";
    font-size:6em;
}

@media only screen and (max-width : 600px) {
  h1{
    font-size:4.2em;

  }
  #top h2{
    font-size:3em;
  }
}

.brand-logo{
  text-align:center;
}


.addymotion-proj-banner {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  top:0;
  height: 650px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.addymotion-proj-h-container {
  height:100%;
  position:relative;
}

.addymotion-proj-heading {
  width:inherit;
  position:absolute;
  bottom:55px;
  margin-right: 0;
  width: fit-content;
}

.addymotion-proj-subheading {
  width:inherit;
  position:absolute;
  bottom:30px;
  margin-right: 0;
  width: fit-content;
}

.addymotion-post-heading {
  width:inherit;
  position:absolute;
  bottom:15px;
  margin-right: 0;
  width: fit-content;
}

.addymotion-heading-text {
  background-color: #00838faa;
  margin-right: 0;
  width: fit-content;
  border-radius: 3px;
  line-height: 1.25em;
}

.addymotion-fixed-bg {
  background-attachment: fixed;
  background-position: center;
  background-color: #b2ebf2ff;
  background-image: url("/images/home/logos.svg");
  background-repeat: repeat;
  top:0;
  min-height: 700px;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 40px;
}

.addymotion-fixed-contacts {
  background-attachment: fixed;
  background-position: bottom;
  background-color: #b2ebf2ff;
  background-image: url("/images/home/contacts.svg");
  background-size:contain;
  background-repeat: no-repeat;
  top:0;
  min-height: 400px;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 40px;
}

.addymotion-navbar-fixed {
  top:0;
  position:fixed;
  width:100%;
  z-index: 100;
}




/* End custom navbar and home page header */

.addymotion-heading {
  margin-bottom: 0;
  margin-top: 18px;
}

/* A container which is right at the top of the page and needs to avoid the navbar. */
.addymotion-top-container {
  margin-top: 90px;
}


.addymotion-post-text h1
{
    font-family:"Roboto";
    font-size: 2.5em;
    margin-bottom: 0;
}

.addymotion-post-text h2
{
    font-size: 2em;
    margin-bottom: 0;
}

.addymotion-post-text h3
{
    font-size: 1.5em;
    margin-bottom: 0;
}


.addymotion-post-text
{
    font-size: 1.2em;
    text-align: justify;
}

.addymotion-post-text img
{
    max-width: 100%;
}

.addymotion-post-text tr
{
    border-top: #aaaaaa 1px solid;
    border-bottom: #aaaaaa 1px solid;
    font-size: 0.8em;
}

.addymotion-post-text li
{
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1em;
}

code
{
    background-color: #ddd;
    border-radius: 5px;
}

pre
{
    display: block;
    background-color: #eee;
    border-radius: 5px;
    padding: 1em;
}

pre code
{
    background-color: transparent;
}
    

#about li
{
    list-style-type: disc;
    list-style-position: outside;
    font-size: 1.2em;
    text-align: justify;
    margin-left: 1em;
}

#project-content li
{
    font-size: 1em;
}

.btn-floating
{
    margin: 20px;
}

.btn-floating img
{
    padding-top: 15px;
}

hr
{
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    border: 0px;
}
