---
title: "Alastair Toft: Computer Science Graduate"
summary: "I'm a computer science graduate from Cambridge University. A collection of my projects including programming, web design and game mods."
---

<!DOCTYPE html>
<html>

<head>
{% include html-head-common.html %}
<link href="feed.xml" rel="alternate" type ="application/rss+xml">
</head>

<body>
  <!--Top navbar-->
  <div class="addymotion-navbar-fixed">
    <nav class="cyan">
      <div class="nav-wrapper container">
        <a href="#top" class="brand-logo right"><img src="images/logos/old_logo_vector.svg" title="&#35;LoveWins"></a>
        <a href="#" data-activates="mobile-drawer" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="table-of-contents left hide-on-med-and-down ">
          <li class="waves-effect"><a href="#top">Home</a></li>
          <li class="waves-effect"><a href="#about">About</a></li>
          <li class="waves-effect"><a href="#projects">Projects</a></li>
          <li class="waves-effect"><a href="#posts">Posts</a></li>
          <li class="waves-effect"><a href="#contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-drawer" style="z-index: 1000;">
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#projects">Posts</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!--End top navbar-->

  <!--Featured image area-->
  <div class="addymotion-marquee section scrollspy" id="top">
    <div class="addymotion-marquee-overlay" id="top-overlay"></div>
    <div class="container topImage-container">
      <h1 class="left-align white-text addymotion-heading"><span class="addymotion-heading-text">Alastair Toft</span></h1>
      <h2 class="left-align white-text addymotion-heading"><span class="addymotion-heading-text">Computer Science Graduate</span></h2>

      <div id="spinner" class="preloader-wrapper big active">
        {% include spinner.html %}
      </div>

      <a id="jumbo-card">
        <div id="caption" class="card cyan darken-1 topImage-card" style="display:none;">
          <div class="card-content white-text">
            <div class="results">
              <!--Image caption is inseted here-->
            </div>

          </div>
        </div>
      </a>
    </div>
  </div>
  <!--End featured-->

  <!--About-->
  <div id="about" class="container section scrollspy">
    <div class="row">
      <div class="col s12 m4 l6">
        <a name="about"><h2 class="left-align cyan-text text-darken-1">About Me</h2>  </a>
        <h5>Hi, I&apos;m Alastair. I make things with computers!</h5>
        <p>I&apos;m a graduate in Computer Science from the University of Cambridge, and I work as a programmer at <a href="http://www.studiogobo.com" target="_blank">Studio Gobo</a>.
        </p>
        <p>AddyMotion.com is my strangely named personal website where you can find some of my projects past and present, including programming, games and level design. This is also the place to get in touch with me, or check out my blog.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="divider"></div>
        <p><a href="#contact">Contact me</a> for a copy of my CV.</p>
        <div class="divider"></div>
      </div>
      <div class="col s12 m8 l6">
        <img src="images/home/avatar_gamegig.jpg" alt="" class="circle" id="main-avatar">
      </div>
    </div>
  </div>
  <!--End about-->

  <!--Projects section-->
  <div id="projects" class="addymotion-fixed-bg section scrollspy" style="padding-top:100px; padding-bottom:190px">


    <div class="container">
      <div class="row">
        <div class="col s12 m6 offset-m6">
          <div id="blog-panel" class="card-panel">
            <div class="card-content">
              <a name="projects"><h2 class="left-align cyan-text text-darken-1" style="margin-bottom:none;">Projects</h2></a>
              <p>These are a few of the things I've worked on recently, grouped roughly into categories. Professional work and personal projets are listed here.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header waves-effect"><i class="material-icons">code</i>Programming</div>
                <div class="collapsible-body">
                  <ul class="collection">
        
                    {% for proj in site.code reversed %}
                    <a href="{{proj.url}}">
                      <li class="collection-item avatar">
                        <img src="{{site.url}}/{{proj.thumb}}" alt="" class="circle">
                        <span class="project-type">{% if proj.metadata != null %} {{proj.metadata}} | {%endif%} {{proj.year}}</span>
                        <span class="title">{{proj.title}}</span>
                        <br>{{proj.summary}}
                      </li>
                    </a>
        
                    <div class="divider"></div>
                    {% endfor %}
        
                  </ul>
                </div>
              </li>
              <li>
                <div class="collapsible-header waves-effect"><i class="material-icons">games</i>Level Design</div>
                <div class="collapsible-body">
                  <ul class="collection">
        
                    {% for proj in site.maps reversed %}
                    <a href="{{proj.url}}">
                      <li class="collection-item avatar">
                        <img src="{{site.url}}/{{proj.thumb}}" alt="" class="circle">
                        <span class="project-type">{% if proj.metadata != null %} {{proj.metadata}} | {%endif%} {{proj.year}}</span>
                        <span class="title">{{proj.title}}</span>
                        <br>{{proj.summary}}
                      </li>
                    </a>
        
                    <div class="divider"></div>
                    {% endfor %}
                  </ul>
                </div>
              </li>
              <li>
                <div class="collapsible-header waves-effect"><i class="material-icons">http</i>Web Design</div>
                <div class="collapsible-body">
                  <ul class="collection">
        
                    {% for proj in site.web reversed %}
                    <a href="{{proj.url}}">
                      <li class="collection-item avatar">
                        <img src="{{site.url}}/{{proj.thumb}}" alt="" class="circle">
                        <span class="project-type">{% if proj.metadata != null %} {{proj.metadata}} | {%endif%} {{proj.year}}</span>
                        <span class="title">{{proj.title}}</span>
                        <br>{{proj.summary}}
                      </li>
                    </a>
        
                    <div class="divider"></div>
                    {% endfor %}
                  </ul>
                </div>
              </li>
              <li>
                <div class="collapsible-header waves-effect"><i class="material-icons">subject</i>Other Projects</div>
                <div class="collapsible-body">
                  <ul class="collection">
        
                    {% for proj in site.misc reversed %}
                    <a href="{{proj.url}}">
                      <li class="collection-item avatar">
                        <img src="{{site.url}}/{{proj.thumb}}" alt="" class="circle">
                        <span class="project-type">{% if proj.metadata != null %} {{proj.metadata}}| {%endif%} {{proj.year}}</span>
                        <span class="title">{{proj.title}}</span>
                        <br>{{proj.summary}}
                      </li>
                    </a>
        
                    <div class="divider"></div>
                    {% endfor %}
                  </ul>
                </div>
              </li>
        
            </ul>
          </div>

        </div>
      </div>
    </div>   
  </div>
  <!--End project section-->

  <!--Posts-->
  <div id="posts" class="container section scrollspy">
    <a name="posts"><h2 class="left-align cyan-text text-darken-1">Blog posts</h2></a>
    <div class="row">
      <div class="col s12 l6">
        <p>
          Occasionally I feel the need to write some words about things. Here's where you can find all the blog posts I've written on various different topics.
        </p>
        <a class="waves-effect waves-light btn cyan darken-1" href="/posts/">All posts</a>
        &nbsp;
        <a class="waves-effect waves-light btn orange darken-1" href="/feed.xml"><i class="material-icons left">rss_feed</i>RSS</a>
      </div>
      <div class="col s8 l4">
        <h5>Latest posts</h5>
        {% for i in (0..2) %}
        <a href="{{ site.posts[i].url }}">
          <div class="addymotion-speech-bubble">
            <span style="font-weight: bold">{{ site.posts[i].title }}</span> {{ site.posts[i].excerpt | | strip_html | truncate: 80 }}
          </div>
          <div class="cyan-text text-lighten-2 right-align" style="font-size: 0.8em;">{{ site.posts[i].date | date_to_long_string }}</div>
        </a>
        {% endfor %}
      </div>
      
    </div>
    <div class="row">
      <div class="col s4 l2 offset-s8 offset-l10">
            <img src="images/home/avatar_gamegig.jpg" alt="" class="circle addymotion-speech-avatar">
    </div>
    </div>
  </div>
  <!--End posts-->

  <!--Contact section-->
  <div id="contact" class="parallax-container section scrollspy" style="width:100%; height:600px">
    <div id="googlemaps" style="height:600px;width:100%;position:absolute; top:0px;left:0px;z-index:0;"></div>
    <div class="container" style="z-index:1;position:relative;pointer-events: none;">
      <div class="row">
        <div class="col s12 m6 offset-m6" style="z-index:1;">
          <div id="blog-panel" class="card-panel" style="z-index:1;pointer-events: auto;">
            <!--Rename this-->
            <div class="card-content">
              <a name="blog"><h2 class="left-align cyan-text text-darken-1">Contact</h2></a>
              <p>In real life, you might find me somewhere in Brighton, Cambridge, or Weymouth, England.</p>
              <p>Online, I'm easier to track down. You can reach me at the links below:</p>
              <p>
                <a href="mailto:hello@addymotion.com">
                  <i class="tiny material-icons">email</i> Email
                </a>
              </p>
              <p>
                <a href="https://linkedin.com/in/alastairtoft">
                  <img src="images/icons/linkedin-tiny.png"> LinkedIn
                </a>
              </p>
              <p><a href="https://twitter.com/addymotion">
                  <img src="images/icons/twitter-tiny.png"> Twitter
                </a>
              </p>
              <p><a href="https://www.facebook.com/AddyMotion/">
                  <img src="images/icons/fb-tiny.png"> Facebook
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End contact section-->

  <!--Footer-->
  {% include footer.html %}

  <!--Load scripts last-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvVlWHjEvG2gyO0MGr7MnU-JP_RumnQew"></script>
  {% include scripts-common.html %}
  <script type="text/javascript" src="js/PxLoader.js"></script>
  <script type="text/javascript" src="js/PxLoaderImage.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</body>

</html>
