---
title: "Alastair Toft: Games Programmer"
summary: "I'm a games programmer and graduate in Computer Science from the University of Cambridge. This is a collection of my projects including games, web design and mods."
---

<!DOCTYPE html>
<html>

<head>
{% include html-head-common.html %}
  <link type="text/css" rel="stylesheet" href="/css/index.css"  media="screen,projection"/>
  <link href="feed.xml" rel="alternate" type ="application/rss+xml">
</head>

<body>
  <!--Top navbar-->
  {% include header.html active = "home" %}
  <!--End top navbar-->

  <main>
    <!--Featured image area-->
    <div class="addymotion-title-splash section scrollspy" id="top">
      <div class="container topImage-container">
        <div class="row">
          <div class="col m8 s12">
            <h1 class="left-align white-text addymotion-heading"><span class="addymotion-heading-text">Alastair Toft</span></h1>
            <h2 class="left-align white-text addymotion-heading"><span class="addymotion-heading-text">Games Programmer</span></h2>
          </div>
          <div class="col m4 s6 offset-s6">
            <img src="images/home/avatar_2020.jpg" alt="" class="circle" id="main-avatar">
          </div>
        </div>
      </div>
    </div>
    <!--End featured-->
    
    <!--About-->
    <div id="about" class="container section scrollspy">
      <a name="about"><h2 class="left-align cyan-text text-darken-1">About Me</h2>  </a>
      <div class="row">
        <div class="col s12 l8">
          <h5>Hi, I&apos;m Alastair. I make things with computers!</h5>
          <p>
            I&apos;m a programmer working in the games industry in the UK, and I studied computer science at university.
          </p>
          <p>
            In my spare time I do various computery things, which have included level design and modding, programming, and gamedev.
            You can find some of that here on my personal site, along with some details of my professional work.
          </p>
          <p>
            I use they/them or he/him pronouns. 🏳️‍🌈
          </p>
        </div>
        <div class="col s12 l4">
          <h5>Latest posts</h5>
          {% for i in (0..2) %}
          <a href="{{ site.posts[i].url }}">
            <div class="addymotion-speech-bubble z-depth-1">
              <span style="font-weight: bold">{{ site.posts[i].title }}</span> {{ site.posts[i].excerpt | strip_html | truncate: 80 }}
            </div>
            <div class="cyan-text text-lighten-2 right-align" style="font-size: 0.8em;">Posted on {{ site.posts[i].date | date: "%Y-%m-%d" }}</div>
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="divider"></div>
    </div>
    <!--End about-->
    
    <div id="launchpad" class="container section scrollspy">
      <a name="launchpad"><h2 class="left-align cyan-text text-darken-1">Where To?</h2>  </a>
      <div class="row">
        <div class="col s12 l4">
          <a href="/portfolio/">
            <div class="card addymotion-launchpad-card">
                <div class="card-image">
                <img src="/images/code/banner_hyperscape.jpg">
              </div>
              <div class="card-content">
                  <h3>Portfolio</h3>
                  <p>Professional work and education.</p>
                </div>
              </div>
          </a>
        </div>
        <div class="col s12 l4">
        <a href="/projects/">
        <div class="card addymotion-launchpad-card">
          <div class="card-image">
            <img src="/images/code/banner_diss.jpg">
          </div>
          <div class="card-content">
            <h3>Projects</h3>
              <p>
              Here's some things I've worked on, past and present. Code projects, level design,
              and terrible Flash games from the late 2000s.
            </p>
            </div>
          </div>
        </a>
        </div>
        <div class="col s12 l4">
        <a href="/posts/">
        <div class="card addymotion-launchpad-card">
            <div class="card-image">
            <img src="/images/posts/pinephone/pinephone-1.jpg">
          </div>
          <div class="card-content">
              <h3>Posts</h3>
              <p>
              Occasionally I feel the need to write some words about things. Here's where you
              can find all the blog posts I've written on various different topics. 
            </p>
            </div>
          </div>
        </a>
        </div>
        
      </div>
    </div>
  </main>
  <!--Footer-->
  {% include footer.html %}

  <!--Load scripts last-->
  {% include scripts-common.html %}
</body>

</html>
