---
permalink: posts/
---

<!DOCTYPE html>
<html>
  <head>
    <title> {{ page.title }} | AddyMotion.com</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ page.summary }}">
    <meta name="keywords" content="{{ page.metadata }}, Alastair Toft, Cambridge, Computer Science, student, programming, Source SDK, level design, web design, Java">
    <meta name="author" content="Alastair Toft">


    <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/favicon.ico?">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{site.url}}/css/materialize.min.css"  media="screen,projection"/>

    <!--Import custom css-->
    <link type="text/css" rel="stylesheet" href="{{site.url}}/css/style.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body style="blue-grey lighten-5">
    <!--Top navbar-->
    <div class="addymotion-navbar-fixed">
    <nav class="cyan">
      <div class="nav-wrapper container">
        <a href="{{site.url}}/" class="brand-logo right"><img src="{{site.url}}/images/logos/old_logo_vector_standard.svg"></a>
        <a href="#" data-activates="mobile-drawer" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="table-of-contents left hide-on-med-and-down ">
          <li class="waves-effect"><a href="{{site.url}}/">Home</a></li>
          <li class="waves-effect"><a href="{{site.url}}/index.html#about">About</a></li>
          <li class="waves-effect"><a class="active" href="{{site.url}}/index.html#projects">Projects</a></li>
          <li class="waves-effect"><a href="{{site.url}}/index.html#contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-drawer">
          <li><a href="{{site.url}}/">Home</a></li>
          <li><a href="{{site.url}}/index.html#about">About</a></li>
          <li><a href="{{site.url}}/index.html#projects">Projects</a></li>
          <li><a href="{{site.url}}/index.html#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    </div>
    <!--End top navbar-->

    <div class="container">
      <h1>All posts</h1>      
    </div>


  <!--Begin about-->
    <div class="container">

        {% for post in site.posts %}
        <a href="{{post.url}}" style="color: black;">
          <div class="card-panel" style="background-color: #b2ebf2ff; background-image: url({{site.url}}/{{post.img}}); background-size: cover; background-position: center; ">
            <div class="card-content">
                <div class="row">
                    <div class="col m8 l6">
                <div class="card-panel">
                  <div class="card-content">
                
                    <h3>{{ post.title }}</h3>
                    {{ post.excerpt }}
                    <div class="divider"></div>
                    <span style="font-style: italic;" class="cyan-text text-lighten-2">{{ site.time | date_to_long_string }}</span>
                    </div>
                    </div>
              </div>
              </div>
              </div>
            </div>
          </a>
        {% endfor %}
    </div>
  <!--End about-->

  {% include footer.html %}

  <!--Load scripts last-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvVlWHjEvG2gyO0MGr7MnU-JP_RumnQew"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script type="text/javascript" src="{{site.url}}/js/materialize.min.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/init.js"></script>

</body>
</html>
