<footer class="page-footer cyan">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
          <a class="btn-floating btn-large white" href="mailto:me@atoft.dev" title="Email">
            <i class="tiny material-icons cyan-text">email</i>
          </a>
          <a class="btn-floating btn-large white" href="https://linkedin.com/in/alastairtoft" title="LinkedIn">
            <img src="/images/icons/linkedin-small.svg"> LinkedIn
          </a>
          <a class="btn-floating btn-large orange" href="/feed.xml" title="RSS Feed">
            <i class="tiny material-icons white-text">rss_feed</i>
          </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="bottom:0;margin-top:110px;">
      <div class="container">
      Site design and content &#169; 2008-{{ 'now' | date: "%Y" }} Alastair Toft. &#x1F44B;
      <a class="grey-text text-lighten-4 right" href="#top">Back to top</a>
      </div>
  </div>
</footer>
