<div class="addymotion-navbar-fixed">
<nav class="cyan">
  <div class="nav-wrapper container">
  <a href="/" class="brand-logo right addymotion-title">Alastair Toft</a>
  <a href="#" data-activates="mobile-drawer" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul class="table-of-contents left hide-on-med-and-down ">
    <li class="waves-effect"><a {% if include.active == "home" %} class="active" {% endif %} href="/">Home</a></li>
    <li class="waves-effect"><a {% if include.active == "about" %} class="active" {% endif %} href="/index.html#about">About</a></li>
    <li class="waves-effect"><a {% if include.active == "projects" %} class="active" {% endif %} href="/index.html#projects">Projects</a></li>
    <li class="waves-effect"><a {% if include.active == "posts" %} class="active" {% endif %} href="/index.html#posts">Posts</a></li>
    <li class="waves-effect"><a {% if include.active == "contact" %} class="active" {% endif %}href="/index.html#contact">Contact</a></li>
  </ul>
  <ul class="side-nav" id="mobile-drawer">
    <li><a href="/">Home</a></li>
    <li><a href="/index.html#about">About</a></li>
    <li><a href="/index.html#projects">Projects</a></li>
    <li><a href="/index.html/#posts">Posts</a></li>
    <li><a href="/index.html#contact">Contact</a></li>
  </ul>
  </div>
</nav>
</div>