	<div id="headpic"><img src="images/header/header_logo_2013.png"></div>

	<div id="menu"><ul>

	<li><a href="index.html"><img src="images/top_home.png">Home</a></li>
	<li><p>&nbsp;</p></li>
	<li><a href="src.html"><img src="images/top_mod.png">Mods and maps</a></li>
	<li><p>&nbsp;</p></li>
	<li><a href="http://blog.addymotion.com"><img src="images/top_blog.png">Blog</a></li>
	<li><p>&nbsp;</p></li>
	<li><a href="fla.html"><img src="images/top_gam.png">Flash games</a></li>
	<li><p>&nbsp;</p></li>
	<li><a href="other.html"><img src="images/top_more.png">More...</a></li>

	</ul></div>
