---
title: Projects

---

<!DOCTYPE html>
<html>
  <head>
    {% include html-head-common.html %}
    <link type="text/css" rel="stylesheet" href="/css/resume.css"  media="screen,projection"/>
  </head>

  <body style="blue-grey lighten-5">
    {% include header.html active = "posts" %}

    <div class="container addymotion-top-container">
      <h1>Resume</h1>
      <p>
	Hi, I'm Alastair Toft. I'm a programmer based in the UK. I've worked in the games industry for over
	three years, at Studio Gobo in Brighton. My current role mainly involves gameplay programming, but
	I also have interests in real-time graphics and game engine architecture.
      </p>
      <p>
        I graduated from the University of Cambridge in 2017 with a BA  in Computer Science.
      </p>
      <div class="divider"></div>

      <div class="row">
          <div class="col s12">
            <ul>
                    {% for proj in site.resume reversed %}
                    <a href="{{proj.url}}">
                      <li class="">
                        <img src="/{{proj.thumb}}" alt="" class="circle">
                        <span class="addymotion-resume-meta">{% if proj.metadata != null %} {{proj.metadata}} | {%endif%} {{proj.year}}</span>
                        <span class="title">{{proj.title}}</span>
                        <br>{{proj.summary}}
                      </li>
                    </a>
                    {% endfor %}
        
                  </ul>
          </div>
      </div>
    </div>

  {% include footer.html %}

  <!--Load scripts last-->
  {% include scripts-common.html %}
</body>
</html>
