---
---

<!DOCTYPE html>
<html>
  <head>
  {% include html-head-common.html %}
  </head>

  <body>
    {% include header.html active = "projects" %}

    <!--Parallax title area-->

    <div class="addymotion-proj-banner section scrollspy" id="top" style="background-image:url({{site.url}}/{{page.img}})">
      <div class="addymotion-proj-h-container container">
        <h2 class="left-align white-text addymotion-proj-heading">{{ page.title }}</h2>
        <h5 class="left-align white-text addymotion-proj-subheading"> {% if page.metadata != null %} {{ page.metadata }} | {% endif %}{{page.year}}</h2>
      </div>
    </div>

    <!--End parallax-->

    <!--Begin about-->
    <div id="about" class="container section scrollspy">
      <div class="row">
        <div class="col m6" id="project-content">
          <h5>About</h5>
            {{ page.about }}
            <div class="divider"></div>
            {{ page.more }}
        </div>
        <div class="col m6">
          <h5>Links</h5>
            {{ page.links }}
          <ul>
          {% capture relatedPosts %}
            {% for post in site.posts %}
              {% if page.tags contains post.project %}
                <li><a href="{{post.url}}">{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}
          {% endcapture %}
          {% if relatedPosts contains "a href" %}
            <h5>Related posts</h5>
            {{ relatedPosts }}
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <!--End about-->

    {% include footer.html %}

    <!--Load scripts last-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvVlWHjEvG2gyO0MGr7MnU-JP_RumnQew"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="{{site.url}}/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{site.url}}/js/init.js"></script>

  </body>
</html>
