---
---

<!DOCTYPE html>
<html>
  <head>
    <title> {{ page.title }} | AddyMotion.com</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ page.summary }}">
    <meta name="keywords" content="{{ page.metadata }}, Alastair Toft, Cambridge, Computer Science, student, programming, Source SDK, level design, web design, Java">
    <meta name="author" content="Alastair Toft">


    <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/favicon.ico?">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{site.url}}/css/materialize.css"  media="screen,projection"/>

    <!--Import custom css-->
    <link type="text/css" rel="stylesheet" href="{{site.url}}/css/style.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <!--Top navbar-->
    <div class="addymotion-navbar-fixed">
    <nav class="cyan">
      <div class="nav-wrapper container">
        <a href="{{site.url}}/" class="brand-logo right"><img src="{{site.url}}/images/logos/old_logo_vector_standard.svg"></a>
        <a href="#" data-activates="mobile-drawer" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="table-of-contents left hide-on-med-and-down ">
          <li class="waves-effect"><a href="{{site.url}}/">Home</a></li>
          <li class="waves-effect"><a href="{{site.url}}/index.html#about">About</a></li>
          <li class="waves-effect"><a href="{{site.url}}/index.html#blog">Blog</a></li>
          <li class="waves-effect"><a class="active" href="{{site.url}}/index.html#projects">Projects</a></li>
          <li class="waves-effect"><a href="{{site.url}}/index.html#contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-drawer">
          <li><a href="{{site.url}}/">Home</a></li>
          <li><a href="{{site.url}}/index.html#about">About</a></li>
          <li><a href="{{site.url}}/index.html#blog">Blog</a></li>
          <li><a href="{{site.url}}/index.html#projects">Projects</a></li>
          <li><a href="{{site.url}}/index.html#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    </div>
    <!--End top navbar-->

    <!--Parallax title area-->

    <div class="addymotion-proj-banner section scrollspy" id="top" style="background-image:url({{site.url}}/{{page.img}})">
      <div class="addymotion-proj-h-container container">
        <h2 class="left-align cyan-text text-darken-1 addymotion-proj-heading" style="{%if page.lighttheme != true%}color:#005c67!important;{%else%}color:#fff!important;{%endif%}">{{ page.title }}</h2>
        <h5 class="left-align cyan-text text-darken-1 addymotion-proj-subheading" style="{%if page.lighttheme != true%}color:#323c3e!important;{%else%}color:#adadad!important;{%endif%}"> {% if page.metadata != null %} {{ page.metadata }} | {% endif %}{{page.year}}</h2>
      </div>
    </div>

    <!--End parallax-->

    <!--Begin about-->
    <div id="about" class="container section scrollspy">
      <div class="row">
        <div class="col m6" id="project-content">
          <h5>About</h5>
            {{ page.about }}
            <div class="divider"></div>
            {{ page.more }}
        </div>
        <div class="col m6">
          <h5>Links</h5>
            {{ page.links }}
        </div>
      </div>
    </div>
    <!--End about-->

    {% include footer.html %}

    <!--Load scripts last-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvVlWHjEvG2gyO0MGr7MnU-JP_RumnQew"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="{{site.url}}/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{site.url}}/js/init.js"></script>

  </body>
</html>
